{
	admin off
	auto_https off
}

:{$PORT:3000} {
	root * /srv
	encode zstd gzip

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"
	header /index.html Cache-Control "no-store"

	route {
		handle /health {
			respond "ok" 200
		}

		handle /api/* {
			reverse_proxy https://api-production-bb32.up.railway.app {
				header_up Host {upstream_hostport}
			}
		}

		handle {
			try_files {path} /index.html
			file_server
		}
	}
}
